body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D3D9D4 !important;
}

.navbar-nav .nav-link {
    color: #D3D9D4 !important;
}

.nav-link:hover {
    border-bottom: 2px solid #124E66;
    color: rgba(255, 255, 255, 0.432) !important;
}

.hero-section {
    height: 60vh;
    background-size: cover; 
    background-position: center; 
}
.button {
    display: block;
    width: 20vh;
    border: 1px solid #124E66;
    padding: 10px;
    text-align: center;
    color: #124E66;
    font-weight: bold;
    text-decoration: none;
}
.carousel-item {
    width: 100vh;
    height: 100vh;
}
.menu img,
.post img,
.carousel-item img
 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.form-control {
    background-color: #fafafa75 !important;
    border-radius: 0 !important;
}

.social {
    color: #124E66;
}
