body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D3D9D4 !important;
}

.navbar-nav .nav-link {
    color: #D3D9D4 !important;
}

.nav-link:hover {
    border-bottom: 2px solid #124E66;
    color: rgba(255, 255, 255, 0.432) !important;
}

.heros {
    height: 90vh;
    background-size: cover; 
    background-position: center; 
}

.content img {
    width: 105%;
    height: 105%;
}

.menu img,
.post img
 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.form-control{
    background-color: #fafafa75 !important;
    border-radius: 0 !important;
}

.reservation-button {
    width: 75%;
}

@media (min-width: 768px) {
    .reservation-button {
        width: 25% !important;
    }
}


@media (min-width: 768px) {
    .reservation-form {
        width: 50% !important;
    }
}
